/* GLOBAL STYLES */

.content-wrap {
  width: max-width;
  height: 100vh;
  /*padding-top:150px;*/
}

body {
  font-family: 'Mukta', sans-serif;
  padding:0;
  margin: 0;
}

/* SIDEBAR */

.sidebar:hover{
  background-color: #607d8b;
  width: 150px;
  font-size: 150px;
}


.sidebar {
  height: 100vh;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: solid grey;
  overflow-x: hidden;
  padding-top: 16px;
  font-size: 85px;
}


.dots-container {

  position: absolute;
  margin-left: 15px;
  bottom: 10px;
}

.fa-ellipsis-h {
  color: white;

}

/* HEADER */

.main {
  background-color: #b3e2cd;
  text-align: right;
  color:white;
}
h1 {
  font-family: 'Poiret One', cursive;
  font-size: 6em;
  margin:0;
  padding-top:50px;
}



/* ABOUT */

.about {
  background-color: #f4cae4;
}
